.bgImg {
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/images/delivery-keyboard-button.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
.w3-large, .w3-xxlarge, .w3-jumbo{
    font-family: "Raleway";

}
